
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/style.css">
    <link >
</head>
<body>
    <div class="body">
        <div class="cont-img"></div>
        <img class="img_background" src="/static/gif1-2.gif">
        <div class="cont">
            <div>
                <form class="loginsting" action="/hello" method="post">
                        <h1 class="man_clock">Login</h1>
                <input class="input_12" name="login" id="Login_in">
                <h2 class="man_clock">Password</h2>
                <input class="input_12" name="password" id="Pass_in">
                <div><button onclick="GetValue()" class="verefication">Вход</button></div>
</form>
                <form action="/reg" class="form_reg"><p style="font-size: 20px;">Нету аккаунта?: </p><button class="verefication">Зарегестрируйся</button></form>            </div>
        </div>
    </div>
<script src="/static/script.js"></script>
</body>
</html>